---
---
@import url('https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@font-face {
  font-family: "Noto Serif";
  font-weight: 400;
  src: local("Noto Serif Ethiopic"),
       local("NotoSerifEthiopic-Regular"),
       url("https://cdn.jsdelivr.net/gh/googlefonts/noto-fonts/hinted/ttf/NotoSerifEthiopic/NotoSerifEthiopic-Regular.ttf") format("truetype");
  unicode-range: U+1200-1380;
}

@font-face {
  font-family: "Noto Serif";
  font-weight: 600;
  src: local("Noto Serif Ethiopic"),
       local("NotoSerifEthiopic-SemiBold"),
       url("https://cdn.jsdelivr.net/gh/googlefonts/noto-fonts/hinted/ttf/NotoSerifEthiopic/NotoSerifEthiopic-SemiBold.ttf") format("truetype");
  unicode-range: U+1200-1380;
}
@import "style";